backend/.env
frontend/.env
node_modules/
.vscode/
backend/venv/
backend/__pycache__/
frontend/node_modules/
frontend/venv311/
.env
backend/venv311/
frontend/dist/
frontend/.npm_log.txt
backend/model_v1/
